html,
body {
  padding: 0;
  margin: 0;
  background: #222222;
  font-family: "Nunito Sans", sans-serif;
  color: #663399;
}

a {
  color: inherit;
  text-decoration: none;
}

.button,
button {
  background-color: #663399;
  color: #eaeaea;
  border: 0.7px solid #eaeaea;
  border-radius: 5%;
  height: 40px;
  min-width: 140px;
  margin: 5px;
  cursor: pointer;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}
